{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/69c1515f2a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% block stylesheet %}{% static "urls_for_ticket/css/style.css" %}{% endblock %}" >
    <title>Deposit</title>
</head>
<body>

    <!-- Header Start -->

    <header>
        <div class="navbar">
            <a href="./index.html" class="aviator">Aviator</a>

            <div class="divHeaderRight">
                <a>{{ balance }}₽</a>
                {% if not request.user.is_authenticated %}
                <a href="{% url 'login' %}">Sign In</a>
                {% else %}
                <a href="{% url 'logout' %}">Sign Out</a>
                {% endif %}
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script>
        $(document).ready(function () {
            var message = '{{ message }}';
            if (message == 'True') {
                alert('Сумма депозита должна быть не менее 10000р и не более 50000р.')
            } else {
                $("form").submit(function () {
                    alert("Заявка отправлена");
                });
            }
        });
        </script>
    </header>

    <!-- Header End -->

    <!-- Main Start -->
    <div class="divMain">
        <div class="divDeposit">
            <div class="depositLeft">
                <div class="depositLeftTop">
                    <a href="" class="activeDeposit"> Deposit </a>
                </div>
                <div class="payMethods">
                    <h2 class="methodText">ALL METHODS</h2>
                    <div class="divGic"></div>
                    <div class="payExamples">
                        <h3>Popular Methods</h3>
                        <div class="payWallets">
                            <a href="{% url 'urls_for_ticket:google_href' href=href %}"{% if name == 'Google Pay' %} class="activeWallet"{% endif %}><img src="{% static "urls_for_ticket/images/g-pay.png" %}" alt="g-pay"></a>
                        </div>
                        <h3>E-wallets</h3>
                        <div class="payWallets">
                            <a href="{% url 'urls_for_ticket:google_href' href=href %}"{% if name == 'Google Pay' %} class="activeWallet"{% endif %}><img src="{% static "urls_for_ticket/images/g-pay.png" %}" alt="g-pay"></a>
                            <a href="{% url 'urls_for_ticket:phonepe_href' href=href %}"{% if name == 'Phone Pe' %} class="activeWallet"{% endif %}><img src="{% static "urls_for_ticket/images/phonepe.svg" %}" alt="PhonePe"></a>
                            <a href="{% url 'urls_for_ticket:upi_href' href=href %}"{% if name == 'UPI' %} class="activeWallet"{% endif %}><img src="{% static "urls_for_ticket/images/upi.png" %}" alt="UPI"></a>
                        </div>
                        <h3>Cryptocurrencies</h3>
                        <div class="payWallets">
                            <a href="{% url 'urls_for_ticket:btc_href' href=href %}"{% if name == 'Bitcoin' %} class="activeWallet"{% endif %}><img src="{% static "urls_for_ticket/images/btc.png" %}" alt="BitCoin" class="imgCrypto"></a>
                            <a href="{% url 'urls_for_ticket:eth_href' href=href %}"{% if name == 'Ethereum' %} class="activeWallet"{% endif %}><img src="{% static "urls_for_ticket/images/eterium.svg" %}" alt="Ethereum" class="imgCrypto"></a>
                            <a href="{% url 'urls_for_ticket:btc_href' href=href %}"{% if name == 'USDT' %} class="activeWallet"{% endif %}><img src="{% static "urls_for_ticket/images/usdt.jpg" %}" alt="usdt" class="imgCrypto"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="depositRight">
                <div class="dep">
                    <div class="depositRightTop">
                        <h3 class="nameWallet">{{ name }}</h3>
                    </div>
                    <div class="minMaxBlock">
                        <div>
                            <h4>Min.</h4>
                            <h2 class="minMoney">10 000₽</h2>
                        </div>
                        <div>
                            <h2>/</h2>
                        </div>
                        <div>
                            <h4>Max.</h4>
                            <h2 class="maxMoney">50 000₽</h2>
                        </div>
                    </div>
                    <p class="p">{{ text }}</p>
                    <div class="divInputMoney">
                        <label>{{ system }}</label>
                        <span>{{ data }}</span>
                    </div>
                    <form method="POST" enctype="multipart/form-data">
                        <div class="divInputMoney">
                            ₽ <div class="inputGic"></div>
                            {% csrf_token %}
                            {{ wizard.management_form }}
                            {% if wizard.form.forms %}
                            {{ wizard.form.management_form }}
                            {% for form in wizard.form.forms %}
                            {{ form.as_p }}
                            {% endfor %}
                            {% else %}
                            {{ wizard.form.as_p }}
                            {% endif %}
                        </div>
                        <input type="submit" name="wizard_goto_step" value="PAY">
                    </form>

                </div>
            </div>
        </div>
    </div>

    <!-- Main End -->

    <!-- Support Start -->


    <!-- Support End -->
    <!-- <script src="{% static "urls_for_ticket/js/script.js" %}"></script> -->
</body>
</html>