$greenBtn       :   #27AB0A;
$txtGreen       :   #4A7620;
$linkBg         :   #15191C;
$linkBorder     :   #232323;
$btnLink        :   #292D2F;
$btnBlue        :   #006099;
$redText        :   #DE0B2F;
$moneyBtn       :   #232227;
$burgerBtn      :   #7C8487;